@media (max-width: 1750px) {
	.speciality {
		padding: 0 257px 0 257px;
	}
}

@media (max-width: 1585px) {

	.brands__list {
		padding: 74px 257px 74px 257px;
	}
}

@media (max-width: 1574px) {
	.header-content__slogan {
		white-space: nowrap;
	}
}

@media (max-width: 1545px) {
	.header-top {
		padding: 38px 50px 0 50px;
	}

	.header-content {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.header-content__box-left {
		padding: 108px 69px 0 0;
	}

	.header-content__text {
		display: none;
	}

	.header-content__box-right {
		padding-right: 0;
	}

	.header-content__offer {
		right: -77px;
	}

	.footer__wrapper {
		padding: 70px 257px 70px 257px;
	}
}

@media (max-width: 1420px) {
	.speciality {
		padding: 0 157px 0 157px;
	}
}

@media (max-width: 1380px) {
	.brands__list {
		padding: 74px 157px 74px 157px;
	}
}

@media (max-width: 1300px) {

	.logo-wrapper {
		-webkit-box-flex: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
	}

	.header-content__box-left {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.header-content__subtitle {
		font-size: 31px;
		line-height: 36.25px;
	}

	.header-content__slogan {
		text-align: center;
		font-size: 51px;
		line-height: 63.2px;
	}

	.header-content__followers {
		bottom: 72px;
		left: -42px;
	}

	.footer__wrapper {
		padding: 70px 157px 70px 157px;
	}
}

@media (max-width: 1250px) {
	.speciality {
		padding: 0 57px 0 57px;
	}
}

@media (max-width: 1170px) {
	.header {
		width: 100%;
	}

	.header-top {
		padding: 38px 50px 0 50px;
	}

	.header-content {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.header-content__box-left {
		padding: 47px 0 88px 0;
	}

	.header-content__img {
		display: none;
	}

	.header-content__followers {
		bottom: -152px;
		left: -542px;
	}

	.header-content__offer {
		top: -146px;
		right: -277px;
	}

	.header-content__tail {
		display: none;
	}

	.carousel__link:first-child {
		right: 385px;
	}

	.carousel__link:first-child>img {
		width: 302px;
		height: 155px;
	}

	.carousel__link--active>img {
		width: 407.66px;
		height: 209px;
	}

	.carousel__link:last-child {
		left: 385px;
	}

	.carousel__link:last-child>img {
		width: 302px;
		height: 155px;
	}

	.arrivals__title-wrapper .title {
		padding-right: 465px;
	}

	.title {
		font-size: 34px;
		line-height: 42.8px;
	}

	.arrivals__link {
		font-size: 18px;
		line-height: 26.8px;
	}

	.arrivals__img-link-lg {
		display: none;
	}

	.topselling .text {
		font-size: 14px;
		line-height: 23.6px;
	}

	.topselling__item-1 {
		right: 276px;
	}

	.topselling__item-2 {
		right: 113px;
	}

	.topselling__item-4 {
		left: 139px;
	}

	.topselling__item-5 {
		left: 279px;
	}

	.topselling__item-1 img {
		width: 336.5px;
		height: 359px;
	}

	.topselling__item-2 img {
		width: 359.39px;
		height: 383.13px;
	}

	.topselling__item--active img {
		width: 313px;
		height: 407px;
	}

	.topselling__item-4 img {
		width: 336.5px;
		height: 389px;
	}

	.topselling__item-5 img {
		width: 336.5px;
		height: 359px;
	}

	.speciality .text {
		font-size: 14px;
		line-height: 23.6px;
	}

	.speciality__title {
		font-size: 18px;
		line-height: 26.8px;
	}

	.speciality__item .text {
		font-size: 14px;
		line-height: 23.6px;
	}

	.speciality__svg {
		width: 40px;
		height: 40px;
		border-radius: 8px;
	}

	.speciality__svg svg {
		width: 20px;
		height: 20px;
	}

	.brands__title-wrapper .title {
		padding-right: 465px;
	}

	.brands__link {
		font-size: 16px;
		line-height: 19.09px;
	}

	.brands__list {
		padding: 74px 57px 74px 57px;
	}

	.blogs__title-wrapper .title {
		padding-right: 147px;
	}

	.blogs__title-wrapper .text {
		font-size: 14px;
		line-height: 23.6px;
	}

	.blogs__item {
		margin-right: 15px;
	}

	.blogs__img {
		width: 302px;
		height: 239.4px;
	}

	.blogs__title {
		font-size: 18px;
		line-height: 26.8px;
	}

	.blogs__item .text {
		font-size: 14px;
		line-height: 23.6px;
	}

	.blogs__link {
		font-size: 14px;
		line-height: 23.6px;
	}

	.blogs__datatime {
		font-size: 14px;
		line-height: 23.6px;
	}

	.aside__logo {
		font-size: 26px;
		line-height: 31.33px;
	}

	.aside__logo-svg>svg {
		width: 36px;
		height: 26px;
	}

	.aside__text {
		font-size: 14px;
		line-height: 22px;
	}

	.aside__item {
		width: 25px;
		height: 25px;
		margin-right: 10px;
	}

	.aside__icon>svg {
		width: 80%;
		height: 80%;
	}

	.footer-title {
		font-size: 18px;
		line-height: 29px;
	}

	.footer-col__item {
		font-size: 14px;
		line-height: 15px;
	}

	.footer-col__link {
		font-size: 14px;
		line-height: 15px;
	}
}

@media (max-width: 1065px) {
	.header-top__list {
		margin-right: 0px;
	}

	.speciality {
		padding: 0 27px 0 27px;
	}

	.speciality__item {
		margin-right: 20px;
	}

	.footer__wrapper {
		padding: 70px 57px 70px 57px;
	}

}

@media (max-width: 985px) {
	.carousel__link:first-child {
		right: 355px;
	}

	.carousel__link:last-child {
		left: 355px;
	}
}

@media (max-width: 960px) {
	.blogs__img {
		width: 272px;
		height: 215.6px;
	}
}

@media (max-width: 945px) {
	.topselling__item-1 {
		display: none;
	}

	.topselling__item-5 {
		display: none;
	}

	.topselling__item-2 img {
		width: 439.39px;
		height: 463.13px;
	}

	.topselling__item--active img {
		width: 383px;
		height: 499px;
	}

	.topselling__item-4 img {
		width: 416.5px;
		height: 459px;
	}

	.brands__list {
		padding: 74px 17px 74px 17px;
	}

}

@media (max-width: 935px) {
	.header-top {
		padding: 38px 30px 0 30px;
	}

	.header-top__list {
		min-width: 270px;
	}

	.header-content {
		width: 100%;
	}

	.search {
		height: 39px;
	}

	.search__svg>svg {
		width: 13px;
		height: 13px;
	}

	.search__input {
		width: 132px;
		height: 30px;
		font-size: 14px;
	}

	.basket>svg {
		width: 15px;
		height: 14px;
	}

	.basket__count {
		width: 13px;
		height: 13px;
	}

	.basket__count-number {
		font-size: 7px;
	}

	.carousel__link:first-child {
		display: none;
	}

	.carousel__link--active>img {
		width: 487.66px;
		height: 259px;
	}

	.carousel__link:last-child {
		display: none;
	}
}

@media (max-width: 875px) {
	.speciality {
		padding: 0 7px 0 7px;
	}

	.speciality__item {
		margin-right: 10px;
	}

	.blogs__title-wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-bottom: 50px;
	}

	.blogs__title-wrapper .title {
		padding-right: 0;
		margin-bottom: 20px;
	}

	.blogs__title-wrapper .text {
		text-align: center;
	}

	.blogs__list {
		flex-wrap: wrap;
	}

	.blogs__item {
		margin-right: 0;
		margin-bottom: 30px;
	}

	.blogs__img {
		width: 362px;
		height: 287px;
	}
}

@media (max-width: 845px) {
	.brands__title-wrapper .title {
		padding-right: 315px;
	}

	.brands__list {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: 54px 157px 54px 157px;
	}

	.brands__item {
		margin-bottom: 30px;
	}

	.footer__wrapper {
		padding: 70px 17px 70px 17px;
	}
}

@media (max-width: 775px) {
	.header-top {
		padding: 38px 10px 0 10px;
	}

	.logo {
		font-size: 25px;
		line-height: 30.33px;
	}

	.logo__svg>svg {
		width: 36px;
		height: 26px;
	}

	.header-top__link {
		font-size: 16px;
		line-height: 19.09px;
	}

	.search {
		height: 34px;
	}

	.search__btn {
		margin: 0 10px 0 10px;
	}

	.search__input {
		width: 112px;
		height: 25px;
		font-size: 14px;
	}

	.basket {
		padding: 0 10px 0 10px;
	}

	.basket__count {
		display: none;
	}

	.header-content__btn {
		width: 196px;
	}

	.header-content__followers {
		display: none;
	}

	.header-content__offer {
		right: -240px;
	}


	.header-content__offer-text {
		width: 132px;
		height: 64px;
		font-size: 14px;
		line-height: 16.75px;
	}

	.header-content__offer-text span {
		font-size: 20px;
		line-height: 25.16px;
	}

	.arrivals__title-wrapper {
		margin-bottom: 50px;
	}

	.arrivals__title-wrapper .title {
		padding-right: 315px;
	}

	.arrivals__img-right-top {
		margin-bottom: 0px;
	}

	.arrivals__img-link-sm:first-child {
		margin-right: 5px;
	}

	.arrivals__img-link-sm>img {
		width: 302px;
		height: 279px;
	}

	.topselling__item-2 img {
		width: 359.39px;
		height: 383.13px;
	}

	.topselling__item--active img {
		width: 313px;
		height: 407px;
	}

	.topselling__item-4 img {
		width: 336.5px;
		height: 389px;
	}

	.brands__title-wrapper {
		margin-bottom: 50px;
	}

	.brands__list {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: 54px 127px 54px 127px;
	}
}

@media (max-width: 750px) {
	.speciality {
		padding: 0 177px 0 177px;
	}

	.speciality .text {
		margin-bottom: 50px;
	}

	.speciality__list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.speciality__item {
		padding-bottom: 0;
		margin-right: 0;
		margin-bottom: 10px;
	}

	.footer {
		overflow: hidden;
	}

	.footer__wrapper {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		padding: 50px 10px 50px 10px;
	}

	.footer__wrapper section {
		text-align: center;
		margin-right: 30px;
		margin-bottom: 30px;
	}

	.footer__wrapper section:last-child {
		margin-bottom: 0;
	}

	.aside__text {
		display: none;
	}

	.modal-map {
		top: 47px;
		right: 25px;
	}

	.frame {
		width: 500px;
		height: 350px;
	}
}

@media (max-width: 700px) {
	/*Убераю анимации на данной ширинe*/

	.header-top__item {
		-webkit-transition: none;
		transition: none;
	}

	.header-top__item:hover {
		-webkit-transform: none;
		transform: none;
	}

	.header-content__btn-svg {
		-webkit-transition: none;
		transition: none;
	}

	.header-content__btn:hover .header-content__btn-svg {
		-webkit-transform: none;
		transform: none;
	}

	.carousel__item-img:hover {
		-webkit-transform: none;
		transform: none;
	}

	.arrivals__img-link-lg {
		-webkit-transition: none;
		transition: none;
	}

	.arrivals__img-link-sm {
		-webkit-transition: none;
		transition: none;
	}

	.arrivals__img-link-lg:hover,
	.arrivals__img-link-sm:hover {
		-webkit-transform: none;
		transform: none;
	}

	.topselling__list>li {
		-webkit-transition: none;
		transition: none;
	}

	.topselling__list>li:hover {
		-webkit-transform: none;
		transform: none;
	}

	.speciality__item {
		-webkit-transition: none;
		transition: none;
	}

	.speciality__item:hover {
		-webkit-transform: none;
		transform: none;
	}

	.blogs__item {
		-webkit-transition: none;
		transition: none;
	}

	.blogs__item:hover {
		-webkit-transform: none;
		transform: none;
	}

	.aside__item {
		-webkit-transition: none;
		transition: none;
	}

	.aside__item:hover {
		-webkit-transform: none;
		transform: none;
	}
}

@media (max-width: 670px) {
	.search {
		height: 39px;
	}

	.search__input {
		width: 172px;
		height: 30px;
	}

	.header-content__offer {
		display: none;
	}

	.header-top {
		flex-direction: column;
		margin-bottom: 0;
	}

	.logo-wrapper {
		margin-bottom: 30px;
		padding-top: 0;
	}

	.header-top__list {
		margin-bottom: 30px;
	}

	.header-content__box-left {
		padding: 30px 0 60px 0;
	}
}

@media (max-width: 650px) {

	.arrivals__title-wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.arrivals__title-wrapper .title {
		margin-bottom: 10px;
		padding-right: 0;
	}

	.topselling__item-4,
	.topselling__item-2 {
		display: none;
	}

	.topselling__item--active img {
		width: 383px;
		height: 499px;
	}

	.speciality {
		padding: 0;
		overflow-x: hidden;
	}

	.speciality__item {
		margin-bottom: 30px;
	}

	.speciality__item .text {
		margin-left: 0;
		margin-right: 0;
	}

	.brands__title-wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.brands__title-wrapper .title {
		margin-bottom: 10px;
		padding-right: 0;
	}

	.brands__list {
		padding: 54px 107px 54px 107px;
	}

	.modal-map {
		display: none;
	}
}

@media (max-width: 615px) {

	.arrivals__img-link-sm {
		margin-bottom: 10px;
	}

	.arrivals__img-link-sm:first-child {
		margin-right: 0;
	}

	.arrivals__img-link-sm>img {
		width: 362px;
		height: 339px;
	}

	.arrivals__img-right-top {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.arrivals__img-right-bottom {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.brands__list {
		padding: 54px 57px 54px 57px;
	}
}

@media (max-width: 500px) {

	.header-content__subtitle {
		font-size: 21px;
		line-height: 26.25px;
	}

	.header-content__slogan {
		font-size: 41px;
		line-height: 53.2px;
	}

	.carousel {
		overflow-x: hidden;
	}

	.carousel__link--active>img {
		width: 427.66px;
		height: 219px;
	}

	.brands__list {
		-ms-flex-pack: distribute;
		justify-content: space-around;
		padding: 54px 0px 54px 0px;
	}
}

@media (max-width: 430px) {
	.carousel__link--active>img {
		width: 367.66px;
		height: 189px;
	}

	.arrivals__img-link-sm {
		margin-bottom: 5px;
	}

	.arrivals__img-link-sm>img {
		width: 302px;
		height: 279px;
	}

	.topselling__item--active img {
		width: 313px;
		height: 407px;
	}

	.brands__list {
		padding: 54px 50px 54px 50px;
	}

	.blogs__img {
		width: 302px;
		height: 239.4px;
	}
}

@media (max-width: 370px) {

	.header-content__subtitle {
		font-size: 18px;
		line-height: 23.25px;
	}

	.header-content__slogan {
		font-size: 31px;
		line-height: 43.2px;
	}

	.header-content__btn {
		width: 176px;
		height: 50px;
	}

	.header-content__btn-text {
		font-size: 15px;
		line-height: 18.09px;
	}

	.carousel__link--active>img {
		width: 310.66px;
		height: 159.4px;
	}

	.title {
		font-size: 30px;
		line-height: 38.8px;
	}

	.arrivals__link {
		font-size: 16px;
		line-height: 19.09px;
	}
}